<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../view/partials/head'); %>
</head>
<body>
    <main>
        <h1>uh oh, seems like this page does not exist :(</h1>
        <a href="../home">Please return home</a>
    </main>
    <footer>
        <%- include('../view/partials/footer'); %>
    </footer>
</body>
</html>