<!DOCTYPE html>
<html lang="en">
		<%- include('../view/partials/head') %>
	<body>
		<%- include('../view/partials/header') %>
		<main>
			<h1>What combat activities best fit you?</h1>
			<form action="combatlist" method="POST">
				<h2 class="form-heading">Choose at least one option</h2>
				<div>
					<input type="checkbox" name="category" value="slayer" id="slayer" />
					<label for="slayer">Slayer</label>
				</div>
				<div>
					<input type="checkbox" name="category" value="mageCb" id="mageCb" />
					<label for="mageCb">Magic combat</label>
				</div>
				<div>
					<input type="checkbox" name="category" value="range" id="range" />
					<label for="range">Ranged combat</label>
				</div>
				<div>
					<input type="checkbox" name="category" value="pvp" id="pvp" />
					<label for="pvp">Player vs player</label>
				</div>
				<div>
					<input type="checkbox" name="category" value="big" id="big" />
					<label for="big">Big enemies</label>
				</div>
				<div class="two-buttons">
					<a href="home" class="btn btn-previous">Previous</a>
					<button class="btn btn-next" id="submit-button" type="submit">See results</button>
				</div>
			</form>
		</main>
		<%- include('../view/partials/footer') %>
		<script src="script/script.js"></script>
	</body>
</html>