<!DOCTYPE html>
<html lang="en">
		<%- include('../view/partials/head') %>
	<body>
		<%- include('../view/partials/header') %>
		<main>
			<h1>Which RuneScape character best fits you?</h1>
			<h2>What aspect of RuneScape are you most interested in?</h2>
			<ul>
				<li><a href="magic">Magic</a></li>
				<li><a href="adventuring">Adventuring</a></li>
				<li><a href="combat">Combat</a></li>
			</ul>
		</main>
		<%- include('../view/partials/footer') %>
	</body>
</html>