<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../view/partials/head') %>
</head>
<body>
    <header></header>
    <main>
        <fieldset>
            <legend>What magic activities best fit you?</legend>
            <div>
                <input type="checkbox" id="sara">
                <label for="sara">Saradominist magic</label>
            </div>
            <div>
                <input type="checkbox" id="zammy">
                <label for="zammy">Zamorakian magic</label>
            </div>
            <div>
                <input type="checkbox" id="guthix">
                <label for="guthix">Guthixian magic</label>
            </div>
            <div>
                <input type="checkbox" id="runecraft">
                <label for="runecraft">Runecrafting</label>
            </div>
            <div>
                <input type="checkbox" id="combat">
                <label for="combat">Combat spells</label>
            </div>
        </fieldset>
        <a href="home" class="btn btn-previous">Previous</a>
        <a href="magiclist" class="btn btn-next">Next</a>
    </main>
    <footer>
        <%- include('../view/partials/footer') %>
    </footer>
</body>
</html>